body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: red;
    text-shadow: 0 0 5px red;
}

ul, ol {
    padding: 10px;
}

li {
    margin: 10px 0;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 20px;
    /* display: inline-block; */
    text-align: left;
}
li:hover{
    background-color: #9a1f1b;
    transition-duration: 100ms;
}

pre {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 20px;
    display: inline-block;
    text-align: left;
    white-space: pre-wrap;
    max-width: 100%;
        
}

p {
    /* text-align: center; */
    font-size: 140%;
    color: #9a1f1b;
    font-weight: 700;
}

.clicked {
    color: rgb(255, 255, 255);
    font-weight:lighter;   
}