body {
    background-color: black    ;
    color: rgb(255, 255, 255);
}
h1 {
    color: red;
    text-align: center;
    font-size: 400%;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 200%;
    text-align: center;
}

h3 {
    font-size: 170%;
    text-align: left;
}
p {
    text-align: center;
    font-size: 140%;
    color: #9a1f1b;
    font-weight: 700;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-size:20px;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
}

a:hover {
color: #ffffff;
transition: 0.7s ease-in;
font-size: 30px;
text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;

transition: 0.7s ease-out;


}


.descript {
margin-left:5%;
font-size: larger;
color:#b4c0ac;
font-size: 100%;
}


.topbar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
}




/* khatta flow */
#khatta_flow {
    background-image: linear-gradient(#e586bc, #e1d3d4, #90cb9a,#e1d3d4, #90b0cb);
    display: grid;
    color: #1f191f;

}

#kfimg {
    grid-column-start: 1;
    height: 250px;
    padding: 10px;
}
#kfid {
    color: #541032;
    align-items: center;
}

#batman {
    grid-column: 2;
    align-items: center;
}

#kflrcs {
    color: #541032;
    grid-column-start: 2;
    align-items: center;
}

/* top navbar */
.topnav {
    background-color: #000000;
    overflow:hidden;

  }
  
  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
  background-color: red;
  color: black;
}

/* Add a color to3qq the active/current link */
.topnav a.active {
color: white;
}

/* 11k */
.container {
    /* background-color: #20512c; */
    background-image: linear-gradient(#3f654b,#6c848c, #283a2a );
    font-size:larger;
    display:flex;
    flex-wrap:nowrap;
    justify-content:left;
    padding:10px;
}
.elevenkhead a{
    color: #293508;
    font-size: 100px;
    text-decoration:none
}
.elevenkhead a:hover{
    color: #3c741b;
}

#elevenklogo{
    height:250px;
}
#elklrcs {
    /* color: #13120d; */
    filter: invert(.1);
}

/* Nanchaku */
.nanchaku {
    display: grid;
}

/* #nchklogo {
    height: 250px;
    grid-column-start: 1;
} */

#nchklrcs{
    grid-column-start: 1;   
}
#khatta_flow {
    background-image: linear-gradient(#e586bc, #e1d3d4, #90cb9a,#e1d3d4, #90b0cb);
    display: grid;
    color: #1f191f;

}

#nchklogo {
    grid-column-start: 1;
    height: 250px;
    padding: 10px;
}
#kfid {
    color: #541032;
    align-items: center;
}
#batman {
    grid-column: 2;
    align-items: center;
}

#kflrcs {
    color: #541032;
    grid-column-start: 2;
    align-items: center;
}
